body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8ff;
  color: #333;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}
h1 {
  color: #4b0082;
}

h2 {
  font-size: 2rem;
  color: #8B70FF;
  margin-top: 50px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 1.25rem;
  margin: 10px 0;
}

li:hover {
  color: #4b0082;
  cursor: pointer;
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}
